!!! 5
html(lang="en")
  head
    title Cat's Cradle 2010
    link(href: "/css/style.css", media: "screen", rel: "stylesheet", type: "text/css")
    script(type: "text/javascript", src:"/js/raphael.js")
    script(type: "text/javascript", src:"/js/cats-cradle.js")
  body
    div#leonardo hola mundo

